.text-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-text-wrapper {
    display: flex;
    flex-direction: row;
}

.loading-text {
    color: rgba(0, 0, 0, 0.88);
    font-size: 5rem;
    margin-right: 15px;
}

.loading-text-tab {
    color: rgba(0, 0, 0, 0.7);
    font-size: 3.5rem;
}

.hello-img {
    display: inline-block;
    width: 200px;
    height: 130px;
    background: url('../../assets/hello.png');
    background-size: contain;
    background-repeat: no-repeat;
}